
html, body {
  width: 100%;
  min-width: 200px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px 0;
  gap: 16px;
}

textarea {
  width: 48%;
  height: 300px;
  max-width: 500px;
  margin: 0 1%;
  font-size: 1.0em;
  box-sizing: border-box;
  resize: vertical;
}


#save-acc-btn, #save-svc-btn, #save-url-btn {
  margin: 0 8px;
  padding: 8px 16px;
  font-size: 1.0em;
  width: 140px;
  height: 40px;
  cursor: pointer;
  background-color: #E5F2F2;
  border: none;
  border-radius: 4px;
  transition: background 0.2s;
}

#save-acc-btn:hover, #save-svc-btn:hover, #save-url-btn:hover {
  background-color: #cce6e6;
}


input#url-input {
  width: 350px;
  font-size: 1.0em;
  padding: 6px 8px;
  margin-right: 8px;
  box-sizing: border-box;
}