html,
body {
  width: 100px;
  min-width: 200px;
}

.hidden {
  display: none;
}

#popup-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#settings-img {
  width: 15px;
  height: 15px;
  margin: 0px;
  cursor: pointer;
}

#settings-btn {
  width: 20%;
}

input {
  width: 95%;
  font-size: 1.0em;
  cursor: pointer;
}

/* only buttons child of id popup-content  */
#popup-content>button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.0em;
  cursor: pointer;
  background-color: #E5F2F2;
}

button:hover {
  background-color: #CFF2F2;
}

button[type="reset"] {
  background-color: #FBFBC9;
}

button[type="reset"]:hover {
  background-color: #EAEA9D;
}